html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #263446;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #F9FAFB;
    font-size: 14px;
    background: radial-gradient(ellipse at bottom, rgba(41,51,58,1) 0%,rgba(16,28,39,1) 100%) fixed;
}
* {
    box-sizing: border-box;
}

/* Misc */

a {
    text-decoration: none;
    color: rgba(144, 156, 172, 0.63);
    transition: .2s all;
    &:hover {
        color: #F9FAFB;
    }
}

/* Container */

.container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto 0;
    justify-content: space-between;
    background: #20303D;
    background: radial-gradient(ellipse at bottom, rgba(41,51,58,1) 0%,rgba(16,28,39,1) 100%);
    box-shadow: 0 0 120px #0d1715;
    .content {
        position: relative;
        width: 100%;
    }
}
.card {
    padding: 1.5rem 1.5rem;
    border-radius: 4px;
    //box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
    margin-bottom: 1.5rem;
    &.logo {
        background: transparent;
        position: relative;
        text-align: center;
    }
    img {
        max-width: 205px;
        position: absolute;
        top: -38px;
        right: -67px;
    }
    h4, h3 {
        margin: 0;
        padding: 0 0 .2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    h3 {
        margin: 0 0 1rem;
    }
}
p.bold {
    font-weight: bold;
    padding-right: 100px;
    margin: 0 0 30px;
    &::after {
        border-bottom: 1px solid #04BD96;
        box-shadow: 1px 4px 22px 0 #004032;
        display: block;
        content: ' ';
        position: absolute;
        left: 0;
        margin: 15px 0 0;
        width: 100%;
    }
}
.spacer {height: 10px;}

input[type=text], input[type=email], input[type=password], textarea, option {
    background-color: #1B2B36;
    padding: 10px 12px;
    border-radius: 3px;
    border: 1px solid rgba(133, 155, 150, .6);
    box-shadow: 1px 1px 14px 0 #1f2935;
    transition: all 150ms ease-in-out;
    outline: none;
    color: #F9FAFB;
    font-size: 1rem;
    margin: 10px 12px;
    &::placeholder {
        color: rgba(133, 155, 150, .6)
    }
    &:focus {
        box-shadow: 1px 1px 12px 0 #004032;
        border-color: #04BD96;
    }
}

